@font-face {
  font-family: "Fonte1";
  src: url("../fonts/Anton-Regular.ttf");
}

body {
  margin: 0px;
  padding: 0px;
}

.fundo {
    background-image: url("../Fundo.jpg");
    width: 100vw;
    height:fit-content;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .texto {
    font-family: "Fonte1";
    text-align: center;
  }

  .imagem 
  {
    margin-left: 42%;
  }

